build/
CPF/Tools/idl/idl.iml
CPF/Tools/idl/.idea/
Plugins/Parsers/IDLParser/Grammar/Grammar.iml
Plugins/Parsers/IDLParser/Grammar/.idea/
Plugins/Parsers/MCDF/Grammar/Grammar.iml
Plugins/Parsers/MCDF/Grammar/.idea/
Plugins/Parsers/MCDF/Grammar/gen/
Plugins/Parsers/IDLParser/.idea/
Plugins/Binary/
3rdParty/
